* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ========================  section ========================  */

/* section1 */
section.section1 div.banner {
  margin: 0 auto;
  max-width: 1200px;
  /* height: auto; */
  border: 1px solid #f6f4f4;
  background-color: #f6f4f4;
}
section.section1 div.banner div.container1 {
  /* border: 1px solid black; */

  /* 用flex區塊置中 */
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 12.5rem;
}
section.section1 div.banner div.container1 > img {
  width: 12.5rem;
  height: 12.5rem;
}
section.section1 div.banner div.container1 > p {
  /* border: 1px solid red; */
  margin: 0 5rem;
  font-size: 1.25rem;
  color: #949494;
}
section.section1 div.banner div.container2 {
  /* border: 1px solid yellow; */
  height: 7.5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
section.section1 div.banner div.container2 > h1 {
  /* border: 1px solid red; */
  font-size: 1.75rem;
  margin-bottom: 0.1875rem;
}
section.section1 div.banner div.container2 a > button {
  margin-top: 0;
  width: 6.25rem;
  padding: 0.3125rem;
  font-size: 1.75rem;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
}
section.section1 div.banner div.container2 a button > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
section.section1 div.banner div.container2 a button > span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
section.section1 div.banner div.container2 a button:hover > span {
  padding-right: 25px;
}
section.section1 div.banner div.container2 a button:hover > span:after {
  opacity: 1;
  right: 0;
}

section.section1 div.banner div.container2 > div {
  /* border: 1px solid gray; */
  margin-top: 5px;
  font-size: 30px;
}

/* section2 */
section.section2 div.section2-container {
  /* width: 1200px; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
section.section2 div.section2-container div.section2-block1 {
  width: 34.375rem;
  height: 31.25rem;
  color: white;
  font-size: 2.25rem;
  background: white;
  text-align: center;
  margin-top: 6.25rem;
}
section.section2 div.section2-container div.section2-block2 {
  width: 34.375rem;
  height: 31.25rem;
  color: white;
  font-size: 2.25rem;
  margin-top: 3.125rem;
}
section.section2 div.section2-container div.section2-block1 > p {
  font-size: 2.25rem;
  color: #c4c4c4;
}
section.section2 div.section2-container div.section2-block1 > h1 {
  font-size: 3rem;
  color: black;
  line-height: 0.0625rem;
}
section.section2 div.section2-container div.section2-block1 > i {
  color: black;
}

/* section3 */
section.section3 div.section3-block {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
section.section3 div.section3-block div.bg1 {
  background: #000;
  width: 34.375rem;
  height: 31.25rem;
  color: white;
  font-size: 2.25rem;
  position: relative;
}
section.section3 div.section3-block div.bg2 {
  background: #000;
  width: 34.375rem;
  height: 31.25rem;
  color: white;
  font-size: 2.25rem;
  position: relative;
}
section.section3 div.section3-block div.bg1 > a > img {
  width: 25rem;
  position: absolute;
  top: 6.25rem;
  bottom: 5rem;
  left: 5rem;
}
section.section3 div.section3-block div.bg2 > a > img {
  width: 25rem;
  position: absolute;
  top: 10rem;
  bottom: 5rem;
  left: 5rem;
}
section.section3 div.section3-block div.bg1 > p,
section.section3 div.section3-block div.bg2 > p {
  margin-left: 1.25rem;
}
section.section3 div.section3-block div.shop-now {
  margin-left: 1.25rem;
  margin-top: 18.75rem;
}
section.section3 div.section3-block div.shop-now > p,
section.section3 div.section3-block div.shop-now > a {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
}

/* section4 */
section.section4 div.section4-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
section.section4 div.section4-container > h1 {
  margin-top: 3.125rem;
  font-size: 3rem;
  margin-left: 1.875rem;
}
section.section4 div.section4-container div.section4-block1 > img {
  width: 15.625rem;
  height: 14.375rem;
  padding: 0.3125rem;
  margin-left: 1.875rem;
}
section.section4 div.section4-container > p {
  font-size: 1.75rem;
  line-height: 0.625rem;
  margin-left: 1.875rem;
}

/* section5 */
section.section5 div.section5-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
section.section5 div.section5-container > h1 {
  margin-top: 3.125rem;
  font-size: 3rem;
  margin-left: 1.875rem;
}
section.section5 div.section5-container div.section5-block1 > img {
  width: 15.625rem;
  height: 14.375rem;
  padding: 0.3125rem;
  margin-left: 1.875rem;
}
section.section5 div.section5-container > p {
  font-size: 1.75rem;
  line-height: 0.625rem;
  margin-left: 1.875rem;
}

/* section7 */
/* section.section7 div.section7 */
section.section7 div.section7-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
section.section7 div.section7-container > h1 {
  font-size: 3rem;
  color: black;
  text-align: center;
}
section.section7 div.section7-container div.section7-img-block {
  height: 18.75rem;
  height: 100%;
}
section.section7 div.section7-container div.section7-img-block > img {
  max-width: 100%;
  max-height: 100%;
}

/* xs - Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* section2 */
  section.section2 div.section2-container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    /* justify-content: space-around;
    align-items: flex-start; */
  }
  section.section2 div.section2-container div.section2-block1 {
    width: 34.375rem;
    height: auto;
    color: white;
    font-size: 2.25rem;
    background: white;
    text-align: center;
    margin-top: 6.25rem;
  }
  section.section2 div.section2-container div.section2-block2 {
    width: 34.375rem;
    height: auto;
    color: white;
    font-size: 2.25rem;
    margin-top: 3.125rem;
    margin-bottom: 1rem;
    border: 1px solid red;
  }
  section.section2 div.section2-container div.section2-block2 > img{
    width: 100%;
  }
  section.section2 div.section2-container div.section2-block1 > p {
    font-size: 2.25rem;
    color: #c4c4c4;
  }
  section.section2 div.section2-container div.section2-block1 > h1 {
    font-size: 3rem;
    color: black;
    line-height: 0.0625rem;
  }
  section.section2 div.section2-container div.section2-block1 > i {
    color: black;
  }
}

/* sm - Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  ...;
}

/* md - Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  ...;
}

/* lg - Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  ...;
}

/* xl - Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}
