* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section.section1 {
  margin: 0 auto;
  width: 1200px;
  background: gray;
  height: 600px;
  margin-bottom: 100px;
}
section.section1 div.section1-container {
  background: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.section1 div.section1-container div.section1-block-left {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 150px;
}
section.section1 div.section1-container div.section1-block-left > h1 {
  color: black;
  font-size: 48px;
}
section.section1 div.section1-container div.section1-block-left > button {
  border: 0;
  background: #000;
  color: white;
  width: 150px;
  font-size: 36px;
  padding: 8px;
}
section.section1 div.section1-container div.section1-block-right {
  display: inline-block;

  vertical-align: top;
}
section.section1 div.section1-container div.section1-block-right > img {
  width: 500px;
  transform: rotate(15deg);
}

section.section2 {
  margin: 0 auto;
  width: 1200px;
  height: auto;
}

section.section2 div.section2-container {
  text-align: center;
  margin-bottom: 50px;
}

section.section2 div.section2-container > img {
  width: 400px;
  background: gray;
  padding: 50px;
  opacity: 70%;
}

section.section2 div.section2-container > h1 {
  font-size: 56px;
}

section.section2 div.section2-container div.section2-circle {
  font-size: 20px;
}

section.section3 {
  margin: 0 auto;
  width: 1200px;
  height: auto;
  text-align: center;
  margin-top: 50px;
}

section.section4 {
  margin: 0 auto;
  width: 1200px;
  background: blue;
  height: auto;
}
